{% extends 'base.html' %}

{% block content %}
<div class="container-fluid rounded p-4 my-2" style="background-color:#012A4A">
    <div class="row p-2">
        <div class = "col-6  p-0">
            <video controls class="img-fluid border rounded-3" poster="{{url_for('static', filename='thumbnails/movies/'+film['thumbnail']) }}" style="background-color:black;">
                <source src="{{url_for('static', filename='trailers/' + film['trailer'])}}" type="video/mp4">
            </video> 
        </div>
        <div class = "col-6">
            <div class = "row border-bottom">
                <h1>{{film["title"]}}</h1>
            </div>
            <div class = "row">
                <h5>directed by: <a class="link-light link-underline-opacity-0" href="{{url_for('directors', id=director_id)}}">{{director}} </a></h5>
            </div>
            <div class = "row border-top">
                {% for actor in actors %}
                <h5><a class="link-light link-underline-opacity-0" href="{{url_for('actor', id=actor.id)}}"> {{actor["firstname"]+" "+ actor["lastname"]}} </a></h5>
                {%endfor%}
            </div>
            <div class = "row border-top">
                <h5> {{film["year"]}}</h5>
            </div>
            <div class = "row py-2 border-top border-bottom">
                
                {% for cat in film["categories"]%}
                <h5>{%for category in categories%}<a class="link-light link-underline-opacity-0" href="{{url_for('category', id=cat.id)}}">{%endfor%}  {{cat["name"]}}</a></h5>
                {%endfor%}
            </div>
        </div>
        <div class = "row mt-3 border-bottom">
            <div class = "col-5 border-end">
                <p>{{film["description"]}}</p>
            </div>
            <div class="col">
                <form class="form-inline" method="post" action="/add_quote/{{film['id']}}">
                    <input type="text" class="form-control col-8" name="add_quote" id="autoSizingInput" placeholder="Add quote" required>
                    <div class="row py-2" >
                        <div class="col-9">
                          <input type="text" class="form-control" name="add_character" placeholder="Character" aria-label="Character" required>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-secondary float-end" type="submit" name="films">submit</button>
                        </div>
                    </div>
                </form>
                {% for quote in quotes %}
                <h5 class ="pt-2 border-top">{{"\"" + quote["description"]+"\"" +"- "+ quote["character"]}} </h5>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="row my-3 ">
        <div>
            <form class="form-inline" method="post" action="/add_comment/{{film['id']}}">
                <div class="row pb-2" >
                    <div class="col-9">
                      <input type="text" class="form-control" name="add_comment" placeholder="Add comment" aria-label="Add comment" required>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-secondary float-end" type="submit" name="films">submit</button>
                    </div>
                </div>
            </form>
            {% for comment in comments %}
            <h5 class="border-top">{{comment["description"]}} </h5>
            {%endfor%}
        </div>
    </div>
    </div>
</div>
{% endblock %}
