{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class = "col-6 border p-0">
        <img src="{{url_for('static', filename='thumbnails/movies/'+film['thumbnail']) }}" class="img-fluid border" alt = "hier moest een plaatje staan">
    </div>
    <div class = "col-6 border">
        <div class = "row border">
            <h1>{{film["title"]}}</h1>
        </div>
        <div class = "row border">
            <h2> {{film["year"]}}</h2>
        </div>
        <div class = "row border">
            <h2> actor 1</h2>
            <h2> actor 2</h2>
            <h2> actor 3</h2>
        </div>
        <div class = "row border">
            <h2> {{director}}</h2>
        </div>
        <div class = "row border py-2">
            <h2> genre</h2>
        </div>
    </div>
    <div class = "row mt-3">
        <div class = "col-5 border">
            <p>{{film["description"]}}</p>
        </div>
        <div class = "col-7 border">
            <h2> quotes</h2>
        </div>

    </div>
    <div class = "row  my-3">
        <div class = "col-12 border">
        <h2> comments</h2>
        </div>
    </div>
</div>
{% endblock %}
