{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-10">
        <div id="moviesCarousel" class="carousel slide">
            <div class="carousel-inner border border-2 rounded border-dark" style="background-color:#012A4A;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{url_for('static', filename='thumbnails/movies/'+result['movies']['result'][0]['thumbnail'])}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{url_for('static', filename='thumbnails/movies/'+result['movies']['result'][1]['thumbnail'])}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{url_for('static', filename='thumbnails/movies/'+result['movies']['result'][2]['thumbnail'])}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{url_for('static', filename='thumbnails/movies/'+result['movies']['result'][3]['thumbnail'])}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{url_for('static', filename='thumbnails/movies/'+result['movies']['result'][4]['thumbnail'])}}" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#moviesCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#moviesCarousel" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}
