{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-10">
        <div id="moviesCarousel" class="carousel slide">
            <div class="carousel-inner border border-2 rounded border-dark" style="background-color:#012A4A;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="{{url_for('film', id= result['movies'][0]['id'])}}">
                            <img src="{{url_for('static', filename='thumbnails/movies/'+result['movies'][0]['thumbnail'])}}" class="d-block w-100" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="{{url_for('film', id= result['movies'][1]['id'])}}">
                            <img src="{{url_for('static', filename='thumbnails/movies/'+result['movies'][1]['thumbnail'])}}" class="d-block w-100" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="{{url_for('film', id= result['movies'][2]['id'])}}">
                            <img src="{{url_for('static', filename='thumbnails/movies/'+result['movies'][2]['thumbnail'])}}" class="d-block w-100" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="{{url_for('film', id= result['movies'][3]['id'])}}">
                            <img src="{{url_for('static', filename='thumbnails/movies/'+result['movies'][3]['thumbnail'])}}" class="d-block w-100" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="{{url_for('film', id= result['movies'][4]['id'])}}">
                            <img src="{{url_for('static', filename='thumbnails/movies/'+result['movies'][4]['thumbnail'])}}" class="d-block w-100" alt="...">
                        </a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#moviesCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#moviesCarousel" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="row pt-3 mt-3">
    {% for movie in result['movies'][5:] %}
    <div class="col-3 my-2">
        <div class="card" style="background-color:#012A4A;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='thumbnails/movies/'+movie['thumbnail'])}}" alt="Card image cap" style="height:160px;">
            <div class="card-body">
                <h5 class="card-title text-white">{{movie.title}}</h5>
                <a href="{{url_for('film', id=movie.id)}}" class="btn btn-secondary float-end text-white">Film ></a>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    {% endfor %}
</div>

{% endblock %}
