{% extends 'base.html' %}

{% block content %}
{% if result['movies'] %}
<h1 style="color:#012A4A;">{{result['m_title']}}</h1>
<div class="row my-3">
    {% for movie in result['movies'] %}
    <div class="col-3 my-2">
        <div class="card" style="background-color:#012A4A;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='thumbnails/movies/'+movie['thumbnail'])}}" alt="Card image cap" style="height:160px;">
            <div class="card-body">
                <h5 class="card-title text-white">{{movie.title}}</h5>
                <a href="{{url_for('film', id=movie.id)}}" class="btn btn-secondary float-end text-white">Film ></a>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    {% endfor %}
</div>
{% endif %}
{% if result['actors'] %}
<h1 style="color:#012A4A">{{result['a_title']}}</h1>
<div class="row my-3">
    {% for actor in result['actors'] %}
    <div class="col-2 my-2">
        <div class="card" style="background-color:#012A4A;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='thumbnails/actors/'+actor['thumbnail'])}}" alt="Card image cap" style="height:140px;">
            <div class="card-body">
                <h5 class="card-title text-white">{{actor.firstname + ' ' + actor.lastname}} </h5>
                <a href="{{url_for('actor', id=actor.id)}}" class="btn btn-secondary float-end text-white">Actor ></a>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    {% endfor %}
</div>
{% endif %}
{% if result['directors'] %}
<h1>{{result['d_title']}}</h1>
<div class="row my-3">
    {% for director in result['directors'] %}
    <div class="col-2 my-2">
        <div class="card" style="background-color:#012A4A;">
            <img class="card-img-top img-fluid" src="{{url_for('static', filename='thumbnails/director/'+director['thumbnail'])}}" alt="Card image cap" style="height:140px;">
            <div class="card-body">
                <h5 class="card-title text-white">{{director.firstname + ' ' + director.lastname}} </h5>
                <a href="{{url_for('director', id=director.id)}}" class="btn btn-secondary float-end text-white">Director ></a>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    {% endfor %}
</div>
{% endif %}
{% if not result['movies'] and not result['actors'] and not result['directors'] %}
<div class="col-12 text-center mt-3">
    <h1>No results</h1>
</div>
{% endif %}
{% endblock %}
